header {
    display: inline;
    padding: 8px 12px;
}

header .icon-button {
	float: right;
}

nav {
	display: inline;
	padding: 12px;
	gap: 8px;
}

nav a {
	padding: 8px;
	color: var(--primary);
	text-decoration: none;
}

nav a.selected {
	border-bottom: 2px solid var(--primary);
}
