:root {
	--textColor: #e0e0e0;
	--bgColor: #212121;
	--primaryColor: #bb86fc;
	--secondaryColor: #2f2f2f;
	--accentColor: #78e8e2;
}
@media (prefers-color-scheme: light) {
    :root {
        --bgColor: #ffffff;
    }
}

* {
	color: var(--textColor);
}

body {
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--primaryColor);
}

h2 {
	margin: 12px 0px;
}

.primary-color {
	color: var(--primaryColor);
}

.navigation-menu {
	padding: 12px;
	background-color: var(--bgColor);
}

.navigation-menu a {
	padding: 12px 8px 6px 8px;
	color: var(--primaryColor);
	text-decoration: none;
}

.navigation-menu a.selected {
	border-bottom: 2px solid var(--primaryColor);
}

.content {
	padding: 32px;
	background-color: var(--bgColor);
	flex: auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center {
	align-items: center;
    justify-content: center;
}

.portfolio-container {
	display: grid;
	grid-template-columns: 25% 25%;
	justify-content: center;
	column-gap: 32px;
	row-gap: 64px;
}

.portfolio-container img {
	border-radius: 16px;
}

.portfolio-item-title {
	margin: 32px 0px;
}

.input-area {
	padding: 2vw;
	display: flex;
	flex-direction: column;
}

.input-area input {
	margin: 0.5vw;
	padding: 1vw;
	background-color: var(--secondaryColor);
	border: 2px solid var(--secondaryColor);
	border-radius: 0.5vw;
	font-size: medium;
}

.input-area input::placeholder {
	opacity: 0.75;
}

.input-area .checkbox {
	margin: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox-label {
	padding: 1vw 2vw;
	border-radius: 8px;
	background: var(--secondaryColor);
	cursor: pointer;
}

.checkbox-input {
	display: none;
}

.checkbox-input:checked + .checkbox-label {
	color: var(--secondaryColor);
	background: var(--primaryColor);
}
