:root {
	--dark-purple1: #0f082c;
	--dark-purple2: #3f3956;
	--dark-purple3: #686080;
	--purple1: #a972ff;
	--purple2: #ba8eff;
	--purple3: #cbabff;
	--purple4: #dcc7ff;
	--purple5: #f0e0ff;
	--indigo1: #3e2ca6;
	--indigo2: #6556c8;
	--indigo3: #8b80d8;
	--indigo4: #aca4ff;
}

body {
	height: 100vh;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--dark-purple1);
	display: flex;
	align-items: center;
}

a {
	color: #aca4ff;
}

.navigation-menu {
	padding: 16px 12px;
}

.navigation-menu a {
	padding: 0px 8px;
	color: var(--purple1);
	text-decoration: none;
}

.navigation-menu a:not(:last-of-type) {
	border-right: 2px solid var(--dark-purple3);
}

.content {
	padding: 32px;
	background-color: var(--dark-purple2);
	color: var(--purple4);
	display: flex;
	flex: auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.center {
	align-items: center;
}

.input-area {
	padding: 8% 0px 16px 0px;
	display: flex;
	flex-direction: column;
}

.input-area label {
	padding-top: 8px;
}

.input-area .checkbox {
	padding-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox-label {
	padding: 8px;
	border: 2px solid var(--purple1);
	border-radius: 8px;
	background: var(--dark-purple2);
	cursor: pointer;
}

.checkbox-input {
	display: none;
}

.checkbox-input:checked + .checkbox-label {
	background: var(--dark-purple3);
	color: var(--purple5);
}

.portfolio-entry img {
	padding: 32px;
	border-radius: 48px;
}